* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F0F0F0;
    cursor: default;
}
nav {
    margin-top: 10px;
    margin-bottom: 20px;
}
input {
    width: 200px;
    height: 25px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
     line-height: 1.5;
    border: 1px solid #d0c1d4;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    color: #333;
    box-sizing: border-box;
    outline: none;
}
#email {
    width: 400px;
}
textarea {
    outline: none;
    padding: 12px 24px;
    width: 600px;
    resize: vertical;
    min-height: 200px;
    max-height: 500px;
    font-size: 20px;
    font-weight: 200;
    font-family: Verdana, sans-serif;
    border-radius: 18px;
}
label {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(183, 236, 255) 
}
button {
    width: 650px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #9c27b0; /* основной фиолетовый цвет */
    color: white;
    position: relative;
    overflow: hidden;
}

    
    button:active {
      transform: translateY(0px);
      background-color: #7b1fa2; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    button:focus {
        outline: none;
    }



@media (hover: hover) {
    button:hover::before {
        transform: translateX(0); 
    }
    button:hover {
        filter: contrast(1.5);
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
        background-color: #8e24aa; 
        transform: translateY(-2px); 
    }
    input:hover {
        border-color: #c5b3c8;
     }
     a:hover {
        color: #ce6ff7;
     }
}
@media (hover:none) {
    button:active::before {
        transform: translateX(0); 
    }
    button:active {
        filter: contrast(1.5);
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
        background-color: #8e24aa; 
        transform: translateY(-2px); 
    }
    input:active {
        border-color: #c5b3c8;
     }
}
p {
    font-size: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
a {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ae04f7;
    text-decoration: none;
    margin-right: 40px;
    white-space: word-spacing;
    transition: 300ms;
}
input::placeholder {
    font-size: 13px;
    color: #aaa;
}
textarea::placeholder {
    font-size: 20px;
    color: #aaa;
}
#menu {
    width: 32px;
    cursor: pointer;
    margin-left: 40px;
}
dialog {
    border: none; 
     background-color: #fff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); 
    padding: 20px;
    border-radius: 8px; 
    position: fixed;
    outline: none;
    width: 190px;
    height: 160px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
dialog h1 {
    margin-bottom: 20px;
    color: black;
    font-size: 15px;
    text-align: center;
}
#close {
    color: red;
}
#center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    a {
        font-size: 15px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 790px) {
    input {
        width: 300px;
    }
    #name {
        width: 250px;
    }
     textarea {
        width: 350px;
    }
    button {
        width: 400px;
    }
    h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 600px) {
    a {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 10px;
        text-align: center;
    }
    label * {
        margin-left: 10px;
    }
    #email {
        width: 250px;
    }
    #name {
        width: 200px;
    }
    textarea {
        width: 300px;
        margin-left: 5px;
    }
    button {
        width: 350px;
        margin-left: 5px;
    }
    a {
        font-size: 11px;
    }
   a:first-child {
    margin-left: 20px;
   }
   label {
    font-size: 15px;
   }
}
@media (max-width: 416px) {
    a {
        font-size: 10px;
    }
    h1 {
        font-size: 5px;
    }
}
@media (max-width: 366px) {
   textarea {
    width: 200px;
   }
   button {
    width: 250px;
   }
   dialog {
    margin-top: 70%;
   }
}
@media screen and (max-width: 300px) {
    form {
        margin-left: 13px;
    }
}
@media (max-width: 240px) {
    textarea {
        width: 150px;
    }
    #email {
        width: 140px;
    }
    #name {
        width: 130px;
    }
    button {
        width: 200px;
    }
    dialog {
        margin-top: 90%;
    }
}
@media screen and (max-width: 220px) {
    form {
        margin-left: 1px;
    }
    dialog {
        width: 150px;
    }
}
@media (max-width: 200px) {
    body {
        overflow: scroll;
    }
}
@media screen and (max-width: 180px) {
}